<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="emp" class="com.dipu.app.Employee">
    <property name="name" value="Akshat" />
    <property name="pob" ref="project" />
    
    </bean>
    <bean id="project" class="com.dipu.app.Project">
    <property name="pcode" value="CIS123" />
    <property name="eob" ref="emp" />
    
    </bean>

</beans>